html{
    overflow: hidden;

}
body{
    height: 100vh;
    background: linear-gradient(to bottom right,rgb(235, 52, 58) ,rgb(250, 217, 32));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title{
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 4rem;
    margin: 10px 0px !important;
}

input{
    border-radius: 7px;
    margin-bottom: 10px;
}

div::-webkit-scrollbar{
    display: none;
}